.entry {
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #CCC;
    overflow: hidden;
    height: 27px;
}

    .entry .date {
        float: right;
        margin: 0;
        padding: 0;
        width: auto;
        text-align: right;
        line-height: 27px;
    }

    .entry .main {
        line-height: 27px;
        font-weight:bold;
    }
