<h3><%= Name %></h3>

<div class="row-fluid">
    <div class="span9">
    </div>
    <div class="span3">
        <div class="well">
            <h3>What's next...</h3>
            <br />
            <div style="text-align:center">
                <a style="min-width:180px;margin-bottom:10px;" href="javascript: (function () {window.sharemeFeedId='<%=id %>';var jsCode = document.createElement('script');jsCode.setAttribute('src', 'http://shareit.apphb.com/scripts/bookmarklet.js');document.body.appendChild(jsCode);}());" class="btn btn-large btn-info" title="drag me to the bookmark bar to publish to this feed"><i class="icon-bookmark icon-white"></i>&nbsp;Add to <%= Name %></a><br />
                <a style="min-width:180px;margin-bottom:10px;" href="/rss/<%=id %>" class="btn btn-large btn-warning" title="Subscribe this rss feed"><i class="icon-eye-open icon-white"></i>&nbsp;Subscribe rss feed</a>
                <a style="min-width:180px;margin-bottom:10px;" href="/rss/<%=id %>" class="btn btn-large btn-success" title="Email to friends and let them also collaborate to this feed"><i class="icon-user icon-white"></i>&nbsp;Email to friends</a>
            </div>
        </div>
    </div>
</div>